In [1]:
from pymongo import MongoClient
mongo = MongoClient(port=27017)

In [2]:
print(mongo.list_database_names())

['admin', 'config', 'local', 'my_db']

In [3]:
print(mongo.list_database_names())

['admin', 'config', 'local', 'my_db']

In [4]:
my_first_db = mongo['my_db']

In [5]:
my_first_collection = my_first_db['my_collection']
my_first_db.list_collection_names()

['my_collection']

In [6]:
my_first_collection.insert_one({'name': 'Mickey'})

In [7]:
print(mongo.list_database_names())
print(my_first_db.list_collection_names())

['admin', 'config', 'local', 'my_db']
['my_collection']

In [8]:
my_first_collection.insert_one({'name': 'Minnie','age': 90})

In [11]:
results = my_first_collection.find()
for result in results:
    print(result)

{'_id': ObjectId('6359b8ac29b1bd6ef78d1e92'), 'name': 'Mickey Mouse'}
{'_id': ObjectId('6359b8e629b1bd6ef78d1e93'), 'name': 'Minnie'}
{'_id': ObjectId('6359b91a29b1bd6ef78d1e94'), 'name': 'Minnie', 'age': 90}
{'_id': 3, 'name': 'Goofy', 'age': 87, 'species': 'dog'}
{'_id': ObjectId('6359ba1c29b1bd6ef78d1e95'), 'name': 'Donald', 'species': 'duck'}
{'_id': ObjectId('6359ba1c29b1bd6ef78d1e96'), 'name': 'Daisy', 'species': 'duck'}
{'_id': ObjectId('635c08710cefb4846f2dc44e'), 'name': 'Mickey'}
{'_id': ObjectId('635c08710cefb4846f2dc44f'), 'name': 'Minnie', 'age': 90}

In [12]:
goofy = {'_id':3, 'name': 'Goofy', 'age': 87, 'species': 'dog'}
my_first_collection.insert_one(goofy)

results = my_first_collection.find()
for result in results:
    print(result)

DuplicateKeyError: E11000 duplicate key error collection: my_db.my_collection index: _id_ dup key: { _id: 3 }, full error: {'index': 0, 'code': 11000, 'errmsg': 'E11000 duplicate key error collection: my_db.my_collection index: _id_ dup key: { _id: 3 }', 'keyPattern': {'_id': 1}, 'keyValue': {'_id': 3}}

In [13]:
animals = [{'name': 'Donald', 'species': 'duck'}, {'name': 'Daisy', 'species': 'duck'}]
my_first_collection.insert_many(animals)

In [14]:
results = my_first_collection.find()
for result in results:
    print(result)

{'_id': ObjectId('6359b8ac29b1bd6ef78d1e92'), 'name': 'Mickey Mouse'}
{'_id': ObjectId('6359b8e629b1bd6ef78d1e93'), 'name': 'Minnie'}
{'_id': ObjectId('6359b91a29b1bd6ef78d1e94'), 'name': 'Minnie', 'age': 90}
{'_id': 3, 'name': 'Goofy', 'age': 87, 'species': 'dog'}
{'_id': ObjectId('6359ba1c29b1bd6ef78d1e95'), 'name': 'Donald', 'species': 'duck'}
{'_id': ObjectId('6359ba1c29b1bd6ef78d1e96'), 'name': 'Daisy', 'species': 'duck'}
{'_id': ObjectId('635c08710cefb4846f2dc44e'), 'name': 'Mickey'}
{'_id': ObjectId('635c08710cefb4846f2dc44f'), 'name': 'Minnie', 'age': 90}
{'_id': ObjectId('635c08830cefb4846f2dc450'), 'name': 'Donald', 'species': 'duck'}
{'_id': ObjectId('635c08830cefb4846f2dc451'), 'name': 'Daisy', 'species': 'duck'}

In [15]:
query = {'name': 'Donald'}
results = my_first_collection.find(query)
for result in results:
    print(result)

{'_id': ObjectId('6359ba1c29b1bd6ef78d1e95'), 'name': 'Donald', 'species': 'duck'}
{'_id': ObjectId('635c08830cefb4846f2dc450'), 'name': 'Donald', 'species': 'duck'}

In [16]:
query = {'age': {'$gt':85}}
results = my_first_collection.find(query)
[result for result in results]

[{'_id': ObjectId('6359b91a29b1bd6ef78d1e94'), 'name': 'Minnie', 'age': 90},
 {'_id': 3, 'name': 'Goofy', 'age': 87, 'species': 'dog'},
 {'_id': ObjectId('635c08710cefb4846f2dc44f'), 'name': 'Minnie', 'age': 90}]

In [17]:
query = {'age': {'$lt':88}}
results = my_first_collection.find(query)
[result for result in results]

[{'_id': 3, 'name': 'Goofy', 'age': 87, 'species': 'dog'}]

In [18]:
query = {'name': 'Mickey'}
update = {'$set': {'name': 'Mickey Mouse'}}
my_first_collection.update_one(query, update)
[r for r in my_first_collection.find()]

[{'_id': ObjectId('6359b8ac29b1bd6ef78d1e92'), 'name': 'Mickey Mouse'},
 {'_id': ObjectId('6359b8e629b1bd6ef78d1e93'), 'name': 'Minnie'},
 {'_id': ObjectId('6359b91a29b1bd6ef78d1e94'), 'name': 'Minnie', 'age': 90},
 {'_id': 3, 'name': 'Goofy', 'age': 87, 'species': 'dog'},
 {'_id': ObjectId('6359ba1c29b1bd6ef78d1e95'),
  'name': 'Donald',
  'species': 'duck'},
 {'_id': ObjectId('6359ba1c29b1bd6ef78d1e96'),
  'name': 'Daisy',
  'species': 'duck'},
 {'_id': ObjectId('635c08710cefb4846f2dc44e'), 'name': 'Mickey Mouse'},
 {'_id': ObjectId('635c08710cefb4846f2dc44f'), 'name': 'Minnie', 'age': 90},
 {'_id': ObjectId('635c08830cefb4846f2dc450'),
  'name': 'Donald',
  'species': 'duck'},
 {'_id': ObjectId('635c08830cefb4846f2dc451'),
  'name': 'Daisy',
  'species': 'duck'}]

In [19]:
query = {'name': 'Mickey'}
update = {'$set': {'name': 'Mickey Mouse'}}
my_first_collection.update_one(query, update)
[r for r in my_first_collection.find()]

[{'_id': ObjectId('6359b8ac29b1bd6ef78d1e92'), 'name': 'Mickey Mouse'},
 {'_id': ObjectId('6359b8e629b1bd6ef78d1e93'), 'name': 'Minnie'},
 {'_id': ObjectId('6359b91a29b1bd6ef78d1e94'), 'name': 'Minnie', 'age': 90},
 {'_id': 3, 'name': 'Goofy', 'age': 87, 'species': 'dog'},
 {'_id': ObjectId('6359ba1c29b1bd6ef78d1e95'),
  'name': 'Donald',
  'species': 'duck'},
 {'_id': ObjectId('6359ba1c29b1bd6ef78d1e96'),
  'name': 'Daisy',
  'species': 'duck'},
 {'_id': ObjectId('635c08710cefb4846f2dc44e'), 'name': 'Mickey Mouse'},
 {'_id': ObjectId('635c08710cefb4846f2dc44f'), 'name': 'Minnie', 'age': 90},
 {'_id': ObjectId('635c08830cefb4846f2dc450'),
  'name': 'Donald',
  'species': 'duck'},
 {'_id': ObjectId('635c08830cefb4846f2dc451'),
  'name': 'Daisy',
  'species': 'duck'}]

In [20]:
query = {'name': 'Minnie'}
update = {'$set': {'name': 'Minnie Mouse'}}
my_first_collection.update_one(query, update)
[r for r in my_first_collection.find()]

[{'_id': ObjectId('6359b8ac29b1bd6ef78d1e92'), 'name': 'Mickey Mouse'},
 {'_id': ObjectId('6359b8e629b1bd6ef78d1e93'), 'name': 'Minnie Mouse'},
 {'_id': ObjectId('6359b91a29b1bd6ef78d1e94'), 'name': 'Minnie', 'age': 90},
 {'_id': 3, 'name': 'Goofy', 'age': 87, 'species': 'dog'},
 {'_id': ObjectId('6359ba1c29b1bd6ef78d1e95'),
  'name': 'Donald',
  'species': 'duck'},
 {'_id': ObjectId('6359ba1c29b1bd6ef78d1e96'),
  'name': 'Daisy',
  'species': 'duck'},
 {'_id': ObjectId('635c08710cefb4846f2dc44e'), 'name': 'Mickey Mouse'},
 {'_id': ObjectId('635c08710cefb4846f2dc44f'), 'name': 'Minnie', 'age': 90},
 {'_id': ObjectId('635c08830cefb4846f2dc450'),
  'name': 'Donald',
  'species': 'duck'},
 {'_id': ObjectId('635c08830cefb4846f2dc451'),
  'name': 'Daisy',
  'species': 'duck'}]

In [21]:
query = {'name': 'Mickey Mouse'}
my_first_collection.delete_one(query)
[r for r in my_first_collection.find()]

[{'_id': ObjectId('6359b8e629b1bd6ef78d1e93'), 'name': 'Minnie Mouse'},
 {'_id': ObjectId('6359b91a29b1bd6ef78d1e94'), 'name': 'Minnie', 'age': 90},
 {'_id': 3, 'name': 'Goofy', 'age': 87, 'species': 'dog'},
 {'_id': ObjectId('6359ba1c29b1bd6ef78d1e95'),
  'name': 'Donald',
  'species': 'duck'},
 {'_id': ObjectId('6359ba1c29b1bd6ef78d1e96'),
  'name': 'Daisy',
  'species': 'duck'},
 {'_id': ObjectId('635c08710cefb4846f2dc44e'), 'name': 'Mickey Mouse'},
 {'_id': ObjectId('635c08710cefb4846f2dc44f'), 'name': 'Minnie', 'age': 90},
 {'_id': ObjectId('635c08830cefb4846f2dc450'),
  'name': 'Donald',
  'species': 'duck'},
 {'_id': ObjectId('635c08830cefb4846f2dc451'),
  'name': 'Daisy',
  'species': 'duck'}]

In [26]:
query = {'_id': '3'}
my_first_collection.delete_one(query)
[r for r in my_first_collection.find()]

[{'_id': ObjectId('6359b8e629b1bd6ef78d1e93'), 'name': 'Minnie Mouse'},
 {'_id': ObjectId('6359b91a29b1bd6ef78d1e94'), 'name': 'Minnie', 'age': 90},
 {'_id': 3, 'name': 'Goofy', 'age': 87, 'species': 'dog'},
 {'_id': ObjectId('6359ba1c29b1bd6ef78d1e95'),
  'name': 'Donald',
  'species': 'duck'},
 {'_id': ObjectId('6359ba1c29b1bd6ef78d1e96'),
  'name': 'Daisy',
  'species': 'duck'},
 {'_id': ObjectId('635c08710cefb4846f2dc44e'), 'name': 'Mickey Mouse'},
 {'_id': ObjectId('635c08710cefb4846f2dc44f'), 'name': 'Minnie', 'age': 90},
 {'_id': ObjectId('635c08830cefb4846f2dc450'),
  'name': 'Donald',
  'species': 'duck'},
 {'_id': ObjectId('635c08830cefb4846f2dc451'),
  'name': 'Daisy',
  'species': 'duck'}]

In [27]:
query = {'species': 'duck'}
my_first_collection.delete_many(query)
[r for r in my_first_collection.find()]

[{'_id': ObjectId('6359b8e629b1bd6ef78d1e93'), 'name': 'Minnie Mouse'},
 {'_id': ObjectId('6359b91a29b1bd6ef78d1e94'), 'name': 'Minnie', 'age': 90},
 {'_id': 3, 'name': 'Goofy', 'age': 87, 'species': 'dog'},
 {'_id': ObjectId('635c08710cefb4846f2dc44e'), 'name': 'Mickey Mouse'},
 {'_id': ObjectId('635c08710cefb4846f2dc44f'), 'name': 'Minnie', 'age': 90}]

In [28]:
my_first_db.drop_collection('my_collection')

{'nIndexesWas': 1, 'ns': 'my_db.my_collection', 'ok': 1.0}

In [29]:
my_first_db.list_collection_names()

[]

In [30]:
mongo.drop_database('my_db')

In [31]:
mongo.list_database_names()

['admin', 'config', 'local']